.app-layout {
  display: flex;
  min-height: 100vh;
}

.app-content {
  flex: 1;
  min-width: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  padding: 0 24px;
}

.app-content__main {
  flex: 1;
}

.app-layout:has(.look-detail) .sidebar {
  display: none;
}
